@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat&display=swap");

html {
    overflow: hidden;
}

.change-my-color {
    filter: invert(99%) sepia(49%) saturate(0%) hue-rotate(247deg) brightness(113%) contrast(100%);
}

.color { 
    border: 15px solid white;
    text-align: center;
}
.purple {
    background-image: url("../images/Purple\ Background\ Large.png");
    background-color: #4E1851
}

.orange {
    background-image: url("../images/orange-backrgound-gradient.png")
}

.blue {
    background-color: #1E3667 
}

.center {
    position: relative;
    top: 50%;
}


.full-page-controls{
    display: none;
}

.btn-container {
    flex-direction: row;

}

  